@import './config';


* {
    box-sizing: border-box;
    font-family: 'FiraCode';
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    @font-face {
        font-family: 'FiraCode';
        src: url('../data/FiraCode-Medium.ttf');
    }

    background: #303030;
    color: #fff;

    svg { @include Rectangle; }

    main {
        width: 100vw;
        height: 100vh;
        @include Flex(c, c, c);
    }
}