@import './config';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @font-face {
        font-family: 'FiraCode';
        src: url('../data/FiraCode-Medium.ttf');
    }

    background: #303030;
    color: #fff;
    font-family: 'FiraCode';

    main {
        width: 100vw;
        height: 100vh;
        @include Flex(c, c, c);
    }

    img.logo {
        @include FullSize(200px);

        img {
            @include FullSize;
        }
    }

    section.search-engines {
        display: flex;

        section.engine {
            cursor: pointer;
            @include FullSize(80px);
            @include Flex(c, c);
            background: $clr-blackl;
            border-radius: .15em;
            margin: 0 .25em;    
            transition: .15s;

            img {
                width: 60%;
            }

            &.active {
                background: $clr-greend;
                pointer-events: none;
            }
        }
    }

    section.searchbar {
        display: flex;
        width: 600px;
        margin: 3em 0;

        span.search-icon {
            background: $clr-blackl;
            @include FullSize(60px, y);
            @include Flex(c, c);
            border-radius: .25em 0 0 .25em;

            svg {
                @include FullSize(80%);
            }
        }

        input {
            flex-grow: 1;
            background: $clr-blackl;
            color: $clr-whited;
            border-radius: 0 .25em .25em 0;
            padding: 0 .5em;
            outline: 0;
            border: 0;
            font-size: 1.1rem;

            &::placeholder {
                color: $clr-greyd;
                font-size: .9rem;
            }
        }
    }
}