@import './config';


figure {
    &.background-image {
        position: absolute;
        @include Layer(-1, absolute);
        opacity: .2;
        left: 0;
        top: 0;
        @include Rectangle;

        img {
            @include Rectangle;
            object-fit: cover;
        }
    }

    &.logo { 
        img { @include Rectangle(150px); }
    }
}

section.tips {
    position: absolute;
    left: 8px;
    top: 8px;

    ul {
        margin-top: .5em;
        display: none;
        overflow: hidden;
        height: 0;
        list-style: none;

        li {
            font-size: .85rem;

            span.clr { color: $clr-greenlr; }
        }
    }

    p.tips-header {
        @include Flex(fs, c);
        color: $clr-whited;
        letter-spacing: -1px;
        cursor: pointer;
        font-size: .9rem;

        span {
            @include Rectangle(20px, y);
            transition: .25s;
        }
    }
}

section.search-engines {
    display: flex;

    section.engine {
        cursor: pointer;
        @include Rectangle(80px);
        @include Flex(c, c);
        background: $clr-blackl;
        border-radius: .15em;
        margin: 0 .25em;    
        transition: .15s;
        border: 1px solid #252525;

        img { width: 60%; }

        &.active {
            background: $clr-greend;
            border-color: transparent;
            pointer-events: none;
        }
    }
}

section.searchbar {
    display: flex;
    width: 600px;
    margin: 3em 0;
    border: 1px solid #252525;

    span.search-icon {
        background: $clr-blackl;
        @include Rectangle(60px, y);
        @include Flex(c, c);
        border-radius: .25em 0 0 .25em;

        svg { @include Rectangle(50%); }
    }

    input {
        flex-grow: 1;
        background: $clr-blackl;
        color: $clr-whited;
        border-radius: 0 .25em .25em 0;
        padding: 0 .5em;
        outline: 0;
        border: 0;
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &::placeholder {
            color: $clr-greyd;
            font-size: .85rem;
        }
    }
}