@import './config';


span.cog-icon {
    position: absolute;
    right: .5em;
    top: .5em;
    @include Rectangle(20px);
    cursor: pointer;
}

aside.settings {
    background: rgba(30, 30, 30, .5);
    padding: 2.5em 1em 1em 1em;
    position: fixed;
    right: 0;
    top: 0;
    transition: 250ms;
    display: none;
    @include SetWidth(100%, 100%, 450px);
    height: 100vh;
    translate: 100% 0;

    button.reset-btn {
        background: $clr-redl;
        border-radius: .25em;
        margin-top: 2em;
        padding: .5em 1em;
        cursor: pointer;
        border: 0;
        outline: 0;
        color: $clr-whitel;
    }

    section.setting-section {
        margin-bottom: 2em;

        .checkbox-container {
            @include Flex(none, c);

            label,
            input { cursor: pointer; }

            label {
                font-size: .8rem;
                color: $clr-whited;
                padding-left: .5em;
            }

            input {
                appearance: none;
                @include Rectangle(12px);
                display: inline-block;
                border-radius: .2em;
                border: 1px solid $clr-bluel;

                &:checked {
                    background: $clr-bluel;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        p.header {
            text-transform: uppercase;
            font-weight: 600;
            font-size: .85rem;
            letter-spacing: -1px;
            margin-bottom: 1em;
        }

        &.settings-search-engines,
        &.settings-background {
            li {
                width: 30%;
                margin-bottom: .5em;
            }
        }

        &.settings-opacity {
            div {
                @include Flex(none, c);
            }

            label { 
                font-size: .8rem;
                width: 10%;
                color: $clr-whitelr;
            }

            input {
                flex-grow: 1;
                display: block;
                appearance: none;
                background: $clr-whited;
                cursor: pointer;
                height: 5px;

                &::-moz-range-progress {
                    height: inherit;
                    background: $clr-bluel;
                }

                &::-moz-range-thumb {
                    background: $clr-bluel;
                    border: 0;
                    @include Rectangle(20px);
                    border-radius: 50%;
                }
            }
        }

        &.settings-background {
            section.slider-main-container {
                @include Flex(sb, c);

                span.direction-arrow {
                    @include Rectangle(25px);   
                    flex-shrink: 0;
                    cursor: pointer;
                    transition: 150ms;

                    &.off {
                        pointer-events: none;
                        color: $clr-greydr;
                    }
                }

                div.moving-wrapper {
                    overflow: hidden;
                    flex-grow: 1;
                    margin: 0 .25em;

                    div.slider-moving {
                        display: flex;
                        width: 100%;
                        transition: .5s;
        
                        section.slider-inner-container {
                            width: 100%;
                            @include Flex(sb);
                            flex-shrink: 0;
                            flex-wrap: wrap;
        
                            img {
                                width: 33%;
                                aspect-ratio: 1.5;
                                cursor: pointer;
                                object-fit: cover;
                                border: 2px solid transparent;
                                
                                &.border { border-color: $clr-bluel; }
                            }
                        }
                    }
                }
            }
        }
    }
}

