@import './config';


span.cog-icon {
    position: absolute;
    right: .5em;
    top: .5em;
    @include Rectangle(20px);
    cursor: pointer;
}

aside.settings {
    background: rgba(30, 30, 30, .5);
    padding: 2.5em 1em 1em 1em;
    position: fixed;
    right: 0;
    top: 0;
    transition: 250ms;
    @include SetWidth(100%, 100%, 450px);
    height: 100vh;
    animation: settings_popup_anim;
    animation-duration: 250ms;

    button.reset-btn {
        background: $clr-redl;
        border-radius: .25em;
        margin-top: 2em;
        padding: .5em 1em;
        cursor: pointer;
        border: 0;
        outline: 0;
        color: $clr-whitel;
    }

    section.setting-section {
        margin-bottom: 2em;

        .checkbox-container {
            @include Flex(none, c);

            label,
            input { cursor: pointer; }

            label {
                font-size: .8rem;
                color: $clr-whited;
                padding-left: .5em;
            }

            input {
                appearance: none;
                @include Rectangle(12px);
                display: inline-block;
                border-radius: .2em;
                border: 1px solid $clr-bluel;

                &:checked {
                    background: $clr-bluel;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        p.header {
            text-transform: uppercase;
            font-weight: 600;
            font-size: .85rem;
            letter-spacing: -1px;
            margin-bottom: 1em;
        }

        &.settings-search-engines,
        &.settings-background {
            li {
                width: 30%;
                &:first-child { margin-bottom: .5em; }
            }
        }

        &.settings-opacity {
            div {
                @include Flex(none, c);
            }

            label { 
                font-size: .8rem;
                width: 10%;
                color: $clr-whitel;
            }

            input {
                flex-grow: 1;
                display: block;
            }
        }

        &.settings-background {
            ul { justify-content: space-between; }

            li {
                border: 2px solid transparent;
                cursor: pointer;
                
                img {
                    @include Rectangle;
                    object-fit: cover;
                }

                &.border {
                    border-color: $clr-bluel;
                }
            }
        }
    }

    @keyframes settings_popup_anim {
        0% { translate: 100% 0; }
        100% { translate: 0 0; }
    }
}

